.map{
    height: 100%;
    position:relative;
    
}

.leaflet-container {
    width: auto;
    height: 100%;
  }

  .back-to-search {
    position: absolute;
    top: 1em; 
    right: 1em; 
    z-index: 1000;
}