.park-info-page{
    width:100%;
    position: relative;
}

.back-to-map{
   position: absolute;
   top: 1em;
   right: 1em;
}

.images-activities{
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
}


.wish-list-button{
    position: absolute;
    top: 1em;
    right: 10em;
}

.contact-box{
    background-color: brown;
    width: 27em;
    height: 7em;
    border-radius: .6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    
}

.contact-info{
    color: white;
    display: flex;
}

.email-phone{
    margin-left: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.activities-box{
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    
}

.description{
    width: 30%;
}

.activites-weather{
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
}

.weather{
    width: 40%;
}