.park-info-page{
    width:100%;
    height:100%;
    position: relative;
}

.back-to-map{
   position: absolute;
   top: 1em;
   right: 1em;
}

.images-activities{
    display: flex;
}

.activities{
    margin-left: 50px;
}

.wish-list-button{
    position: absolute;
    top: 2em;
    right: 50em;
}