.image-container{
  
    display:flex;
    justify-content: center;
    align-items: center;
}

.image-container img{
    height: 20em;
    width: 30em;
    border-radius: 1em;
}

.arrow-button {
    background-color: bisque; 
    border: none; 
   cursor: pointer;
  }



.arrow-icon {
    font-size: 4em; 
    background-color: bisque;
  }