.image-container{
  
    display:flex;
    justify-content: center;
    align-items: center;
}

.image-container img{
    height: 20em;
    width: 30em;
    border-radius: 1em;
}

.arrow-button {
  background-color: rgba(0, 0, 0,.01);
    border: none; 
   cursor: pointer;
  }



.arrow-icon {
  background-color: none;
    font-size: 4em; 
    color: white;
  }

  @media screen and (max-width: 940px) {
    .image-container img{
      height: 10em;
      width: 15em;
    }
  }