.header-container{
    height: 13em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./panoramicPark.jpg');
    background-color: rgb(8, 87, 8);
    background-size: 100% 100%;
}

