.park-card img{
    color: white;
    height: 15%;
    width: 15%;
    margin-left: 1em;
}

.park-card {
    width: 90%;
    height: 10%;
    border: 2px solid black;
    display: flex;
    align-items: center;
    margin-bottom: .5em;
    margin-top: .5em;
    background-color: rgb(119, 238, 148);
    box-shadow: 0 0 .7em rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease-in-out;
   
}

.park-card:hover {
    cursor: default;
    transform: scale(1.02);
}

.park-card h3{
    margin-left: 1em;
    font-size: 90%;
}

.park-card a{
    display: flex;
    align-items: center;
    text-decoration: none;
    
}

@media screen and (max-width: 900px) {
    .park-card{
        height:20%;
        overflow-y: auto;
    }
    .park-card img{
        height:1em;
        width:1em;
    }
    
}