*{
  margin: 0;
  box-sizing: border-box;
}

.App{
  display:flex;
  flex-direction: column;
  background-image: url('./mountains.jpg');
  height: 100vh;
  background-size: 100% 100%;
}

.main-wrap{
  display: flex;
  height: 80%;

}

.routes{
  width: 80%;
  height: 100%;
}

.to-visit{
   width: 20%;
}

.body{
  height: 100%;
}



@media screen and (max-width: 900px) {
  .main-wrap{
    flex-direction: column;
  }
  .routes,
  .to-visit{
    width: 100%;
  }
  
}

